.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: pink;
}

header{
    background-color: white;
    height: 118px;
    min-height: 100vh;
    width: 100%;
    text-align: left;
    padding-left: 40px;
    padding-inline-end: 20px;
}

nav{
    background-color: pink;
    height: 118px;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

main{
    background-color: violet;
    height: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
    height: 400px;
    width: 1024px;
    overflow: hidden;
    box-shadow: none;
}
 
.slide-container .image-holder{
    height: 100%;
    width: 100%;
}

.image-holder img{
    height: 100%;
    width: 100%;
}
  
.nav-links {
    flex: 1;
    text-align: right;
}

h1 {
    font-size: 60px;
    color: #010b13;
    font-family: 'Lora', serif;
}


.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #010b13;
    text-decoration: none;
    font-size: 25px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    text-transform: uppercase;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

footer{
    background-color: black;
    height: 200px;
}