#container {
	height: auto;
	width: 1024px;
	margin: 0px;
	padding: 0px;
}
#container #footer {
	background-color: #000;
	height: 50px;
	width: 1024px;
	font-size: 24px;
	color: #FFF;
}
#container #mainbody #table {
	padding: 0px;
	height: 400px;
	width: 500px;
	margin: 0px;
	float: left;
}


#container #head {
	height: 50px;
	width: 1024px;
	background-color: #FF9;
	font-size: 36px;
	background-image: url(header.jpg);
	background-repeat: repeat;
}
#container #banner {
	padding: 0px;
	height: 200px;
	width: 1024px;
	background-image: url(BANNER.jpg);
	margin: 0px;
	background-repeat: no-repeat;
}
#container #navigations {
	padding: 0px;
	height: 50px;
	width: 1024px;
	background-image: url(header.jpg);
	background-repeat: repeat;
}






#container #mainbody {
	height: 500px;
	width: 1024px;
}

#container #mainbody #rightnav {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 400px;
	width: 200px;
	background-color: #009;
}

#container #navigations ul li {
	float: left;
	padding: 2px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	list-style-type: none;
	font-size: 24px;
	text-decoration: none;
}
#container #navigations ul li a {
	list-style-type: none;
	text-decoration: none;
	color: #333;
}
#container #navigations ul li a:hover {
	list-style-type: none;
	text-decoration: none;
	color: #F00;	
}
